.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #fff;
    border-bottom: 2px solid #000;
  }
  
  .logo {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
  }
  .login-btns button {

    background-color: transparent;
    color: #333;
    margin:0 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
  
    
  }
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #1f8ed7;
  }
  .login-btns {
    display: flex;
    gap: 10px; 
}


  .menu-btn {
    
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu-btn:hover {
    background-color: #000;
    color: #fff;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 50px;
    background-color: #fff;
   
  
 
  }
   
  .hero-content {
    width: 55%;
    padding: 0 50px 0 0;
  }
  
  .hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
  }
  
  .buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  
  .btn {
    padding: 15px 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
  
  .primary {
    background-color: #000;
    color: white;
  }
  
  .primary:hover {
    transform: translateY(-3px);
  }
  
  .secondary {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
  }
  .line{
    width: 100px;
    height: 2px;
    margin: 0 0 0 75px;
    background-color: #000;
 
  }
  .secondary:hover {
    background-color: #000;
    color: white;
    transform: translateY(-3px);
  }
  
  .hero-image {
    width: 45%;
  }
  
  .image-placeholder {
    width: 100%;
    height: 450px;
background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
   background-size: cover;;
    border-radius: 8px;
    filter: grayscale(0.20);
  }
  .stueducation{
    padding: 60px 0;
  }